.right-sidebar-container {
    position: sticky;
    top: 10rem;
    padding: 1rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-field{
    width: 98%;
}

header{
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 6px;
}

.right-sidebar-container input {
    width: 100%;
}

.follow-list-container{
    width: 100%;
    padding: 1rem;
}

.follow-list-container header{
    justify-content: space-between;
}

.suggested-list{
    flex-direction: column;
    gap: 1rem;
}

