.post-card-container {
    border: 1px solid var(--border-black);
    padding: 1.5rem;
    width: 100%;
}

.post-card-container .avatar img {
    width: 5rem;
    height: 5rem
}

.post-card-content .profile-detail {
    justify-content: space-between;
    min-height: 2em;
}

.post-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-footer {
    justify-content: space-between;
    align-items: center;
}