.page-container {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 26rem auto 35rem;
    grid-template-areas: 
    "left main right";
}

.left-sidebar {
    grid-area: left;
}

.main-section {
    grid-area: main;
    padding: 1rem 2rem;
}

.right-sidebar {
    grid-area: right;
}