.App {
  display: grid;
  min-height: 80vh;
  grid-template-areas:
    "navigaion"
    "body"
    "footer";
}

.nav {
  grid-area: navigation;
  position: sticky;
  top: 0;
}

.body{
min-height: 70vh;
}

.footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  right: 0;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}